.board_table 
  border: 1px solid black
  td
    border: 1px solid black
    height: 50px
    width: 50px
    &:hover
      background-color: lightgray
    .chip
      height: 45px
      width: 45px
      border-radius: 999px
      border: 1px solid black
      margin: 0 auto
    .black
      background-color: black
  td.inactive
    background-color: black
  
