<div class="tutorial">
  <div class="game_board goal_area">
    <h1>The Game Board</h1>
    <h2><span class="light-gray">This</span> is white's goal</h2>
    <h2><span class="black">This</span> is black's goal</h2>
    <h2>Each color cannot play in their opponent's goal.</h2>
    <%= react_component 'Board', type: "local", id: @board_id, player: "white" %>
  </div>
  <div class="game_board white_board">
    <h2><span class="blue">Blue</span> is where you can place white chips</h2>
    <%= react_component 'Board', type: "local", id: @white_board_id, player: "white", turn: "white" %>
  </div>
  <div class="game_board black_board">
    <h2><span class="red">Red</span> is where you can place black chips</h2>
    <%= react_component 'Board', type: "local", id: @black_board_id, player: "black", turn: "black" %>
  </div>
  <h2><%= link_to "Next: Chip Placement", tutorial_chip_placement_path %></h2>
</div>
